<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="/ModeMan/img/product/product-1.jpg">
            <span class="label">New</span>
            <ul class="product__hover">
                <li><a href="#"><img src="/ModeMan/img/icon/heart.png" alt=""></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/search.png" alt=""></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
                <label for="pc-1">
                    <input type="radio" id="pc-1">
                </label>
                <label class="active black" for="pc-2">
                    <input type="radio" id="pc-2">
                </label>
                <label class="grey" for="pc-3">
                    <input type="radio" id="pc-3">
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
    <div class="product__item sale">
        <div class="product__item__pic set-bg" data-setbg="/ModeMan/img/product/product-3.jpg">
            <span class="label">Sale</span>
            <ul class="product__hover">
                <li><a href="#"><img src="/ModeMan/img/icon/heart.png" alt=""></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/search.png" alt=""></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6>Multi-pocket Chest Bag</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h5>$43.48</h5>
            <div class="product__color__select">
                <label for="pc-7">
                    <input type="radio" id="pc-7">
                </label>
                <label class="active black" for="pc-8">
                    <input type="radio" id="pc-8">
                </label>
                <label class="grey" for="pc-9">
                    <input type="radio" id="pc-9">
                </label>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="/ModeMan/img/product/product-5.jpg">
            <ul class="product__hover">
                <li><a href="#"><img src="/ModeMan/img/icon/heart.png" alt=""></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/search.png" alt=""></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6>Lether Backpack</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h5>$31.37</h5>
            <div class="product__color__select">
                <label for="pc-13">
                    <input type="radio" id="pc-13">
                </label>
                <label class="active black" for="pc-14">
                    <input type="radio" id="pc-14">
                </label>
                <label class="grey" for="pc-15">
                    <input type="radio" id="pc-15">
                </label>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="/ModeMan/img/product/product-7.jpg">
            <ul class="product__hover">
                <li><a href="#"><img src="/ModeMan/img/icon/heart.png" alt=""></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                <li><a href="#"><img src="/ModeMan/img/icon/search.png" alt=""></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6>T-shirt Contrast Pocket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h5>$49.66</h5>
            <div class="product__color__select">
                <label for="pc-19">
                    <input type="radio" id="pc-19">
                </label>
                <label class="active black" for="pc-20">
                    <input type="radio" id="pc-20">
                </label>
                <label class="grey" for="pc-21">
                    <input type="radio" id="pc-21">
                </label>
            </div>
        </div>
    </div>
</div>