@model List<Product>

@foreach (var product in Model)
{
﻿<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
    <form asp-controller="Cart" asp-action="AddToCart" class="add-cart" method="post">
            <div class="product__item">
                <input type="hidden" name="productId" value="@product.Id" />
                <div class="product__item__pic set-bg" data-setbg="@product.Images.FirstOrDefault()">
                    <span class="label">New</span>
                    <ul class="product__hover">
                        <li><a href="#"><img src="/ModeMan/img/icon/heart.png" alt=""></a></li>
                        <li><a href="#"><img src="/ModeMan/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                        <li><a href="#"><img src="/ModeMan/img/icon/search.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6>@product.Name</h6>
                    <button type="submit" class="add-cart">+ Add To Cart</button>>
                    <div class="rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <h5>@product.Price</h5>

                </div>
            </div>
    </form>
</div>

}

